<!-- 投稿一覧 -->
<!DOCTYPE html>
<html lang="ja">
  <div class="col-xs-9">
    <div class="table-responsive">
      <table class="table">
      <h1>投稿一覧</h1>
         <thead>
           <tr class="danger">
               <th></th>
               <th>タイトル</th>
               <th>画像</th>
           </tr>
         </thead>
         <tbody>
            <% @lists.each do |list| %>
            <tr class="success">
              <th></th>
              <th><%=link_to list.title, list_path(list.id), 'data-turbolinks': 'false' %></th>
              <th><%= attachment_image_tag list, :image, :fill, 100, 100, format: 'jpeg' %></th>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</html>