<!-- ユーザー情報詳細 -->
<div class="center-block">
<div class="col-lg-5">
  <table class="table table-striped">
    <h2>ユーザー詳細</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback:"no_image.jpg" %>
    <tr>
      <th>名前</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>コメント</th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr><td>
      <%=link_to '編集', edit_user_path(@user.id) %>
    </td></tr>
  </table>
</div>
</div>
