<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
<p class="font1">このサイトは、外出、旅先で撮った写真を他の方達と共有するサイトです。色々な場所に行き写真をあげてみましょう。 </p><br>
</body>
</html>